<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Bootstrap-Calendar.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<script>
    $(function(){
        $('#login').click(function(){
            function getContextPath() {
                var hostIndex = location.href.indexOf( location.host ) + location.host.length;
                return location.href.substring( hostIndex, location.href.indexOf("/", hostIndex + 1) );
		    };
            let data={
                t_id: $('#teacherid').val(),
                t_pwd: $('#teacherpwd').val()
		    };

            alert(data.t_pwd);
            $.ajax({
                //회원가입 수행 요청
                type: "POST", //요청 method 타입
                url: getContextPath()+"/login", //요청보낼 url
                data: JSON.stringify(data), //보내는 data => json으로 넘기기
                contentType:"application/json;charset=utf-8", //마임타입 지정
                dataType:"json" // 응답 데이터 타입 지정 ( default는 버퍼로 전송되기때문에 string을 전송됨), 만일 json이 넘어오면 자바스크립트 object로 변경해준다.
            }).done(function(resp){
                    alert("로그인 완료");
                    location.href=getContextPath()+"/"; // 성공시 반환 위치
            }).fail(function(error){
                alert("로그인 실패");
                alert(JSON.stringify(error));
            }); 
        });
    });
</script>
<body class="bg-gradient-primary" style="font-family: 'Jua', sans-serif;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;https://cdn-dantats.stunning.kr/prod/portfolios/cff5be17-d761-4422-ae3a-04b07522aece/covers/order_sub_2184733_1_190308151719.jpg.small?q=50&amp;t=crop&amp;e=0x0&amp;s=600x600&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">아트그로우 미술학원</h4>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="teacherid" aria-describedby="emailHelp" placeholder="아이디를 입력해주세요." name="t_id"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="teacherpwd" placeholder="비밀번호를 입력해주세요." name="t_pwd"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">아이디 기억하기</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" id="login" type="button">로그인</button>
                                        <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2" role="button"><i class="fab fa-google"></i>&nbsp; 카카오 로그인 기능 구현(예정)</a><a class="btn btn-primary d-block btn-facebook btn-user w-100" role="button"><i class="fab fa-facebook-f"></i>&nbsp; 구글 로그인 기능 구현(예정)</a>
                                        <hr>
                                    </form>
                                    <div class="text-center"><a class="small" href="forgot-password.html">비밀번호 찾기</a></div>
                                    <div class="text-center"><a class="small" th:href="@{/signup}">회원가입</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script  th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/bs-init.js}"></script>
    <script th:src="@{/assets/js/theme.js}"></script>
</body>

</html>