<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Profile - Brand</title>
</head>


<div class="container-fluid" layout:fragment="content">
	<h3 class="text-dark mb-4">신규 원생 등록</h3>
	<div class="col">
		<div class="card shadow mb-3">
			<div class="card-header py-3">
				<p class="text-primary m-0 fw-bold">원생 정보</p>
			</div>
			<div class="card-body">
				<form>
					<div class="row">
						<div class="col">
							<div class="mb-3">
								<label class="form-label" for="username"><strong>이름</strong></label><input
									class="form-control" type="text" id="username" placeholder="이름"
									name="username">
							</div>
							<div class="mb-3">
								<label class="form-label" for="username"><strong>생년월일</strong></label><input
									id="username-1" class="form-control" type="date"
									placeholder="1999.00.00" name="username" />
							</div>
							<div class="mb-3">
								<label class="form-label" for="first_name"><strong>입원일자</strong></label><input
									id="first_name" class="form-control" type="date"
									placeholder="John" name="first_name" />
							</div>
						</div>
						<div class="col-xl-6">
							<div class="mb-3">
								<label class="form-label" for="email"><strong>원생
										연락처</strong></label><input class="form-control" type="tel" id="st_phone"
									placeholder="010-0000-0000" name="st_phone">
							</div>
							<div class="mb-3">
								<label class="form-label" for="email"><strong>부모님
										연락처</strong></label><input class="form-control" type="tel" id="phone"
									placeholder="010-0000-0000" name="phone">
							</div>
							<div class="mb-3">
								<label class="form-label" for="email"><strong>성별</strong><br></label>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="formCheck-2"><label
										class="form-check-label" for="formCheck-2">남자</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="formCheck-3"><label
										class="form-check-label" for="formCheck-3">여자</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="mb-3">
								<label class="form-label" for="last_name"><strong>주소</strong></label><input
									class="form-control" type="text" id="address" placeholder="집주소"
									name="last_name">
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<label class="form-label" for="last_name"><strong>이메일</strong><br></label><input
									class="form-control" type="email" id="last_name-1"
									placeholder="sample@sample.com" name="last_name">
							</div>
						</div>
					</div>
					<div class="mb-3"></div>
				</form>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 col-xl-12">
						<form>
							<div class="mb-3">
								<label class="form-label" for="signature"><strong>특이사항</strong><br></label>
								<textarea class="form-control" id="signature" rows="4"
									name="signature"></textarea>
							</div>
							<div class="mb-3"></div>
							<div class="mb-3">
								<button class="btn btn-primary btn-sm" type="submit">저장</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</html>