<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/template}">

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
  

<!-- datedropper init -->
<script th:src='@{/js/student/student.js}'></script>
<script th:inline="javascript">
// let tableData = [[${stdList}]];
let detail;
$(document).ready(function(){
	console.log("[jsh] ready 바인딩 함수 호출");
	$('#st_bth, #st_en_dt, #st_dis_dt').dateDropper({
		format: 'Y-m-d',
		lang: 'ko',
		theme: 'bootstrap',
		expandedDefault: true,
		expandedOnly: true,
		expandable: true
	});
// 	$('#myPicker').timeDropper({
// 		minutesSteps: 10
// 	});
// 	new atc(document.querySelector('#myButton123'));


      var $table = $('#table');
      
      $('#toolbar').find('select').change(function () {
    	  console.log("[jsh] 페이지 change함수 호출");
        $table.bootstrapTable('destroy').bootstrapTable({
       	  formatSearch: function () {
            return '원생이름 검색'
          },
          exportDataType: $(this).val(),
          exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
          columns: [
          {
            field: 'state',
            checkbox: true,
            visible: $(this).val() === 'selected'
          },
          {
            field: 'c_idx',
            title: '클래스번호',
            sortable: true,
            visible: false
          }, 
          {
            field: 'c_nm',
            title: '클래스이름',
            sortable: true
          }, 
          {
            field: 'st_idx',
            title: '학생번호',
            sortable: true,
            visible: false
          }, 
          {
            field: 'st_nm',
            title: '학생이름',
            sortable: true
          }, 
          {
            field: 'st_pn',
            title: '학생핸드폰번호',
            sortable: true,
            visible: false
          }, 
          {
            field: 'st_prt_nm',
            title: '학생부모님명',
            sortable: true
          }, 
          {
            field: 'st_prt_pn',
            title: '학생부모님핸드폰번호',
            sortable: true
          }, 
          {
            field: 'st_prt_rlt',
            title: '학생부모님관계',
            sortable: true,
            visible: false
          }, 
          {
            field: 'st_schl',
            title: '학생학교',
            sortable: true
          }, 
          {
            field: 'st_bth',
            title: '학생생년월일',
            sortable: true
          }, 
          {
            field: 'st_en_dt',
            title: '학생등록일자',
            sortable: true
          }, 
          {
            field: 'st_dis_dt',
            title: '학생퇴원일자',
            sortable: true
          }, 
          {
            field: 'st_gen',
            title: '학생성별',
            sortable: true,
            visible: false
          }, 
          {
            field: 'st_prt_em',
            title: '학생부모님이메일',
            sortable: true,
            visible: false
          }, 
          {
            field: 'st_adr',
            title: '학생주소',
            sortable: true
          }, 
          {
            field: 'st_dtl',
            title: '학생세부사항',
            sortable: true
          }, 
          {
            field: 'st_rm_c_cnt',
            title: '학생남은횟수',
            sortable: true
          }
        ],
//           data: tableData
      })
        
    });
		
    $('#toolbar').find('select').trigger('change');
    $('.toggle-all').parent().find('span').text("전체 선택");
	
	$('#table').on('click-row.bs.table', function (row, el, field) {
		console.log("[jsh] table row 클릭 함수 호출");
		//row 데이터 : type,sender,timeStamp,jQuery360025989008260026614,isTrigger,namespace,rnamespace,result,target,delegateTarget,currentTarget,handleObj,data
		//el 데이터 : st_idx,c_idx,c_nm,st_nm,st_bth,st_gen,st_pn,st_schl,st_en_dt,st_dis_dt,st_prt_nm,st_prt_rlt,st_prt_pn,st_prt_em,st_adr,st_dtl,st_rm_c_cnt
		//field 데이터 : 0,length,prevObject
		detail = el;
		
		let formData = new FormData($("#st_form")[0]);
		let date;
		for(let key of formData.keys()) {
			if(key == "st_bth" || key == "st_en_dt" || key == "st_dis_dt") {
				if(el[key] == "") {
					continue;
				}
				date = el[key];
				if(date.indexOf("-") == -1) {
					date = date.substr(0,4)+"-"+date.substr(4,2)+"-"+date.substr(6,2);					
				}
// 				el[key] = birth;
			}
			if(key == "st_prt_rlt" || key == "st_gen" ) {
				$("input:radio[name="+key+"]:input[value="+el[key]+"]").attr("checked", true);
			}
			
			let adr_list = st_adr.value.split(",");
			if(key == "st_adr_post") {
				$("#"+key).val(adr_list[0]);
			} else if(key == "st_adr_dtl") {
				$("#"+key).val(adr_list[1]);								
			} else if(key == "st_bth" || key == "st_en_dt" ||  key == "st_dis_dt") {
				$("#"+key).val(date);
			} else {
				$("#"+key).val(el[key]);
			}

		}
		
		$("#studentDetail").modal('show');
	})
	
	$(".btn-close, #modal-close").on('click', ()=>{
		console.log("[jsh] 닫기 버튼 클릭");
		$('form').each(function() {
            this.reset();
        });
	});
	
});

function customSearch(data, text) {
    return data.filter(function (row) {
      return row.name.indexOf(text) > -1
    })
}
function detailFormatter(index, row) {
	console.log("[jsh] 인덱스, 로")
    var html = []
    $.each(row, function (key, value) {
		if(key == "c_idx") key = "클래스번호";
		else if(key == "c_nm") key = "클래스이름";
		else if(key == "st_idx") key = "학생번호";
		else if(key == "st_nm") key = "학생이름";
		else if(key == "st_pn") key = "학생핸드폰번호";
		else if(key == "st_prt_nm") key = "학생부모님명";
		else if(key == "st_prt_pn") key = "학생부모님핸드폰번호";
		else if(key == "st_prt_rlt") key = "학생부모님관계";
		else if(key == "st_schl") key = "학생학교";
		else if(key == "st_bth") key = "학생생년월일";
		else if(key == "st_en_dt") key = "학생등록일자";
		else if(key == "st_dis_dt") key = "학생퇴원일자";
		else if(key == "st_gen") key = "학생성별";
		else if(key == "st_prt_em") key = "학생부모님이메일";
		else if(key == "st_adr")key = "학생주소";
		else if(key == "st_dtl") key = "학생세부사항";
		else if(key == "st_rm_c_cnt") key = "학생남은횟수";
    	html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('');
}
function queryParams(params) {
	console.log("params : "+Object.keys(params));
    delete params.sort
    delete params.order
//    delete params.search
    return params
}

function responseHandler(res) {
	console.log("[jsh] responseHandler 호출")
  if ($('#table').bootstrapTable('getOptions').sortOrder === 'desc') {
    res.rows = res.rows.reverse()
  }
  return res
}

function modifyStudentInfo() {
	console.log("[jsh] 수정버튼 클릭");
	let formData = new FormData($("#st_form")[0]);
	let jsonObj;
	for(let pair of formData.entries()) {
		console.log("[jsh] formData key-value들 : "+pair[0]+" : "+pair[1]);		
	}
// 	let jsonArr = $("form[name=st_form]").serializeArray();
// 	console.log("[jsh] jsonArr : "+jsonArr);
// 	if(jsonArr) {
// 		jsonObj = new Object();
// 		$.each(jsonArr, (i)=>{
// 			if(jsonArr[i].name == "st_bth" || jsonArr[i].name == "st_en_dt" || jsonArr[i].name == "st_pn" || jsonArr[i].name == "st_prt_pn") {
// 				jsonObj[jsonArr[i].name] = chkNum(jsonArr[i].value);
// 			} else {
// 				jsonObj[jsonArr[i].name] = jsonArr[i].value;				
// 			}
// 		});
// 		console.log("[jsh] jsonObj : "+JSON.stringify(jsonObj));
// 	}
	let json = formToJson("st_form"); //student.js에 정의된 formToJson 메서드 이용
	new Promise((resolve, reject) => {
		$.ajax({
			type:"POST",
			url:`modify/check`,
			dataType: "json",
	        contentType:"application/json;charset=utf-8;", //마임타입 지정
			data: json
		}).done(res=>{
			if(confirm("수정된 내용이 존재합니다. 수정하시겠습니까?")) {
				resolve(json);
			}
			console.log("[jsh] 결과값 : "+res);
		}).fail(error=>{
			alert("수정된 내용이 존재하지 않습니다..");
			reject(error);
		});
	}).then((resolvedData)=>{
		console.log("[jsh] resolvedData : "+resolvedData);
		let st_idx = JSON.parse(resolvedData).st_idx;
		console.log("[jsh] st_idx : "+st_idx);
		$.ajax({
			type:"PUT",
			url:`${st_idx}/update`,
			dataType: "json",
	        contentType:"application/json;charset=utf-8;", //마임타입 지정
			data: resolvedData
		}).done(res=>{
			alert("수정되었습니다.");
			console.log("[jsh] 결과값 : "+res);
		}).fail(error=>{
			alert("수정에 실패했습니다.");
			return;
		});
		
	}).catch((err)=>{
		console.log("[jsh] 에러 : "+err);
	});
}
</script> 
</head>
<div class="container-fluid" layout:fragment="content">

<!-- <div class="row"> -->
<!-- 	<div class="col"> -->
<!-- 		<input id="date-input" type="text"> -->
<!-- 		<input id="myPicker" type="text"> -->
<!-- 		<a id="myButton123">Add to calendar</a> -->
<!-- 	</div> -->
<!-- </div> -->


<div id="toolbar" class="select">
  <select class="form-control">
    <option value="">defualt</option>
    <option value="all">전체 출력</option>
    <option value="selected">선택한 원생만 출력</option>
  </select>
</div>

<table id="table" 
  	   data-toolbar="#toolbar"
  	   data-search="true" 
  	   data-search-on-enter-key="true"
  	   data-toggle="table"
  	   data-show-refresh="true" 
  	   data-show-toggle="true"
	   data-click-to-select="true"
	   data-show-fullscreen="true"
	   data-show-columns="true"
  	   data-show-columns-toggle-all="true" 
   	   data-detail-view="true"
  	   data-show-export="true"
  	   data-detail-formatter="detailFormatter" 
  	   data-minimum-count-columns="1"
  	   data-show-pagination-switch="true"
	   data-id-field="id"
	   data-page-list="[10, 25, 50, 100, all]"
	   data-show-footer="true"
  	   data-custom-search="customSearch" 
  	   data-response-handler="responseHandler"
	   data-url="/ams/studentList/advanced/api"
	   data-query-params="queryParams"
  	   data-side-pagination="server"
  	   data-server-sort="false"
	   data-pagination="true" 
>
</table>

<!-- Student Modal -->
<div class="modal" id="studentDetail" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
       	<div class="modal-content">
           	<div class="modal-header">
	       		<h5 class="modal-title">원생 정보</h5>
	       		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           	</div>
            <div class="modal-body">
	            <div class="row  align-items-center">
					<form id="st_form" name="st_form">
					<input type="hidden" id="st_idx" name="st_idx">
					<input type="hidden" id="st_adr" name="st_adr">
					<input type="hidden" id="st_prt_rlt" name="st_prt_rlt">
					<input type="hidden" id="st_gen" name="st_gen">
<!-- 					<input type="hidden" id="st_dis_dt" name="st_dis_dt"> -->
<!-- 					<input type="hidden" id="st_rm_c_cnt" name="st_rm_c_cnt"> -->
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_nm">
									<strong>이름</strong>
								</label>
								<input class="form-control" type="text" id="st_nm" placeholder="이름" name="st_nm" >
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_bth">
									<strong>생년월일</strong>
								</label>
								<input id="st_bth" class="form-control" type="text" name="st_bth" />
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_en_dt">
									<strong>입원일자</strong>
								</label>
								<input id="st_en_dt" class="form-control" type="text" name="st_en_dt" />
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_pn">
									<strong>원생 연락처</strong>
								</label>
								<input class="form-control" type="tel" id="st_pn" placeholder="숫자만 입력 가능합니다." name="st_pn" maxlength=11>
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_prt_nm"><strong>부모님 성함</strong></label><input class="form-control" id="st_prt_nm"
									name="st_prt_nm">
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_prt_pn">
									<strong>부모님 연락처</strong>
								</label>
								<input class="form-control" type="tel" id="st_prt_pn" placeholder="숫자만 입력 가능합니다." name="st_prt_pn" maxlength=11>
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_prt_rlt"><strong>학생과의 관계</strong><br></label>
								<div class="row">
									<div class="col-6 col-sm-2 col-lg-2">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="st_prt_rlt" name="st_prt_rlt" value="F"><label
												class="form-check-label" for="st_prt_rlt">부</label>
										</div>
									</div>
									<div class="col-6 col-sm-3 col-lg-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="st_prt_rlt" name="st_prt_rlt" value="M"><label
												class="form-check-label" for="st_prt_rlt">모</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_gen"><strong>학생성별</strong><br></label>
								<div class="row">
									<div class="col-6 col-sm-3 col-lg-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="st_gen" name="st_gen" value="M"><label
												class="form-check-label" for="st_gen">남자</label>
										</div>
									</div>
									<div class="col-6 col-sm-3 col-lg-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="st_gen" name="st_gen" value="F"><label
												class="form-check-label" for="st_gen">여자</label>
										</div>
									</div>
								</div>
							</div>
							</div>
						
						<div class="row">
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_adr">
									<strong>주소</strong>
								</label>
								<div class="row">
									<div class="col-12 col-sm-12 col-lg-12 mb-3">
										<input class="form-control" type="text" id="st_adr_post" placeholder="우편번호" name="st_adr_post" onclick="findPostCode()"> 									
									</div>
									<div class="col-12 col-sm-12 col-lg-12 mb-3">
										<input class="form-control" type="text" id="st_adr_dtl" placeholder="상세주소" name="st_adr_dtl">
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_prt_em"><strong>이메일</strong><br></label><input
									class="form-control" type="email" id="st_prt_em"
									placeholder="sample@sample.com" name="st_prt_em">
							</div>
		
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="c_idx">
									<strong>학생 수업</strong><br>
								</label>
								<select class="form-control" id="c_idx" name="c_idx">
									<option value="">[수업 선택]</option>
			                        <th:block th:each="class : ${clsList}">
		                                <option th:text="${class.c_nm}" th:value="${class.c_idx}"></option>
									</th:block>
								</select>
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_schl">
									<strong>학교/유치원</strong><br>
								</label>
								<input type="text" class="form-control" id="st_schl" name="st_schl">
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_dis_dt">
									<strong>퇴원 일자</strong><br>
								</label>
								<input type="text" class="form-control" id="st_dis_dt" name="st_dis_dt">
							</div>
							<div class="col-12 col-sm-6 col-lg-6 mb-3">
								<label class="form-label" for="st_rm_c_cnt">
									<strong>남은 횟수</strong><br>
								</label>
								<input type="text" class="form-control" id="st_rm_c_cnt" name="st_rm_c_cnt">
							</div>
						</div>
					</div>
					<div class="card-body">
							<div class="col-12 col-sm-12 col-lg-12 mb-3">
								<label class="form-label" for="st_dtl"><strong>특이사항</strong><br></label>
								<textarea class="form-control" id="st_dtl" rows="4" name="st_dtl"></textarea>
							</div>
					</div>
					</form>
				</div>
            </div>
            <div class="modal-footer">
              <button type="button" id="modal-close" name="modal-close" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="button" id="student-info-modify" name="student-info-modify" class="btn btn-primary" onclick="modifyStudentInfo()">원생 정보 수정</button>
            </div>
       	</div>
   	</div>
</div>

</div>

</html>