<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Table - Brand</title>
<script type="text/javascript">
$(document).ready(function(){
})
</script>
</head>

<div class="container-fluid" layout:fragment="content">
	<h3 class="text-dark mb-4">원생관리</h3>
	<div class="card shadow">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6 text-nowrap">
					<div id="dataTable_length" class="dataTables_length"
						aria-controls="dataTable">
						<label class="form-label">filter1&nbsp;
						<select class="d-inline-block form-select form-select-sm">
								<option value="10" selected>10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
						</select>&nbsp;
						</label>
					</div>
					<div id="dataTable_length-1" class="dataTables_length"
						aria-controls="dataTable">
						<label class="form-label">filter2&nbsp;
							<select class="d-inline-block form-select form-select-sm">
								<option value="10" selected>10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
						</select>&nbsp;
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-md-end dataTables_filter" id="dataTable_filter">
						<label class="form-label">
							<input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label>
					</div>
				</div>
			</div>
			<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
				<table class="table my-0" id="dataTable">
					<thead>
						<tr>
							<th>이름</th>
							<th>학교/유치원</th>
							<th>지역</th>
							<th>나이</th>
							<th>등록일자</th>
							<th>남은 횟수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="list : ${stdList}">
							<td><!-- <img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg"> --><span th:text="${list.st_nm}"></span></td>
							<td><span th:text="${list.st_schl}"></span></td>
							<td><span th:text="${list.st_adr}"></span></td>
							<td><span th:text="${list.st_bth}"></span></td>
							<td><span th:text="${list.st_en_dt}"></span></td>
							<td><span th:text="${list.st_rm_c_cnt}"></span></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><strong>이름</strong></td>
							<td><strong>학교/유치원</strong></td>
							<td><strong>지역</strong></td>
							<td><strong>나이</strong></td>
							<td><strong>등록일자</strong></td>
							<td><strong>남은 횟수</strong></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="row">
				<div class="col-md-6 align-self-center">
					<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite" th:text="'Showing '+${pagination.criteria.page}+' to '+${pagination.finalEndPage}+' of '+${pagination.totalCount}"></p>
				</div>
				<div class="col-md-6">
					<nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
						<ul class="pagination">
							<li  class="page-item" th:classappend="${pagination.prev} == false ? 'disabled'"><a class="page-link" aria-label="Previous" th:href="@{/studentList?page={page} (page=${pagination.startPage-1})}"><span aria-hidden="true">«</span></a></li>
							<th:block th:with="start = ${pagination.startPage}, end=${pagination.endPage}">
								<li th:classappend="${pagination.criteria.page} == ${pageButton} ? 'active'" class="page-item" th:with="start = ${pagination.startPage}, end =  ${pagination.endPage}" th:each="pageButton : ${#numbers.sequence(start,end)}"><a class="page-link" th:href="@{/studentList?page={page} (page=${pageButton})}" th:text=${pageButton}></a></li>
							</th:block>
							<li th:classappend="${pagination.next} == false ? 'disabled'" class="page-item"><a class="page-link" aria-label="Next" th:href="@{/studentList?page={page} (page=${pagination.endPage+1})}"><span aria-hidden="true">»</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

</html>