<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<script th:src='@{/js/student/student.js}'></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
$(document).ready(function(){
	
	let date = new Date();
	date.setMonth(0);
	date.setDate(1);
	let defaultBirthDate = (date.getFullYear()-12)+"-0"+(date.getMonth()+1)+"-0"+date.getDate();
	$("#st_bth").val(defaultBirthDate);
	
	initInputDataBlocking();
	
});
function initInputDataBlocking() {
	//숫자 키코드(48~57까지)
	let numKeyCodeList = [48,49,50,51,52,53,54,55,56,57];
	
	$("#st_pn, #st_prt_pn").keypress(function(e){
		if(!numKeyCodeList.includes(e.keyCode)) {
			return false;
		}
   });     
	
	//date 타입 날짜 입력 형식이 에러가 있어 키보드 입력 막음
	$("input[type='date']").keypress((e)=>{
		return false;
	});

}
function findPostCode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
//             console.log(data);
            let latestAddr = data.address //원래주소
            let bname 	   = data.bname //역촌동
            let jibun 	   = data.jibunAddress //지번: 서울 은평구 역촌동 40-30
            let postNum    = data.zonecode //우편번호 5자리
            
            st_adr_post.value 	= "("+postNum+") ";
            st_adr_post.value   += latestAddr;
//             st_adr_post.value 	+= jibun;
//             st_adr_post.value 	+= bname;
            
//             st_adr.value = "("+postNum+") "+latestAddr;
            st_adr.value = st_adr_post.value;
        }
    }).open();
}
</script>
<title>Profile - Brand</title>
</head>


<div class="container-fluid" layout:fragment="content">
	<h3 class="text-dark mb-4">신규 원생 등록</h3>
	<div class="col">
		<div class="card shadow mb-3">
			<div class="card-header py-3">
				<p class="text-primary m-0 fw-bold">원생 정보</p>
			</div>
			<form id="st_form" name="st_form">
			<input type="hidden" id="st_adr" name="st_adr"/>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_nm">
								<strong>이름</strong>
							</label>
							<input class="form-control" type="text" id="st_nm" placeholder="이름" name="st_nm" >
						</div>
						</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_bth">
								<strong>생년월일</strong>
							</label>
							<input id="st_bth" class="form-control" type="date" name="st_bth" th:value="${std_date}"/>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_en_dt">
								<strong>입원일자</strong>
							</label>
							<input id="st_en_dt" class="form-control" type="date" name="st_en_dt" />
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_pn">
								<strong>원생 연락처</strong>
							</label>
							<input class="form-control" type="tel" id="st_pn" placeholder="숫자만 입력 가능합니다." name="st_pn" maxlength=11>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_prt_nm"><strong>부모님 성함</strong></label><input class="form-control" id="st_prt_nm"
								name="st_prt_nm">
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_prt_pn">
								<strong>부모님 연락처</strong>
							</label>
							<input class="form-control" type="tel" id="st_prt_pn" placeholder="숫자만 입력 가능합니다." name="st_prt_pn" maxlength=11>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_prt_rlt"><strong>학생과의 관계</strong><br></label>
							<div class="row">
								<div class="col-6 col-sm-2 col-lg-2">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="st_prt_rlt" name="st_prt_rlt" value="F"><label
											class="form-check-label" for="st_prt_rlt">부</label>
									</div>
								</div>
								<div class="col-6 col-sm-3 col-lg-3">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="st_prt_rlt" name="st_prt_rlt" value="M"><label
											class="form-check-label" for="st_prt_rlt">모</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_gen"><strong>학생성별</strong><br></label>
							<div class="row">
								<div class="col-6 col-sm-3 col-lg-3">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="st_gen" name="st_gen" value="M"><label
											class="form-check-label" for="st_gen">남자</label>
									</div>
								</div>
								<div class="col-6 col-sm-3 col-lg-3">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="st_gen" name="st_gen" value="F"><label
											class="form-check-label" for="st_gen">여자</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_adr">
								<strong>주소</strong>
							</label>
							<div class="row">
								<div class="col-12 col-sm-12 col-lg-12">
									<div class="mb-3">
										<input class="form-control" type="text" id="st_adr_post" placeholder="우편번호" name="st_adr_post" onclick="findPostCode()"> 									
									</div>
								</div>
								<!-- <div class="col">
								</div>
								<div class="col">
								</div>
								<div class="col">
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-12 col-lg-6">
									<input class="form-control mb-1" type="text" id="st_adr_latest" placeholder="집주소(도로명)" name="st_adr_latest" onclick="findPostCode()">									
								</div>
								<div class="col-12 col-sm-12 col-lg-6">
									<input class="form-control mb-1" type="text" id="st_adr_old" placeholder="집주소(지번)" name="st_adr_old" onclick="findPostCode()">									
								</div>
							</div> -->
								<div class="col-12 col-sm-12 col-lg-12">
									<div class="mb-3">
										<input class="form-control" type="text" id="st_adr_dtl" placeholder="상세주소" name="st_adr_dtl">
									</div>
								</div>
								<!-- <div class="col-12 col-sm-12 col-lg-6">
									<input class="form-control" type="text" id="st_adr_bname" name="st_adr_bname">
								</div> -->
						
							</div>
							
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_prt_em"><strong>이메일</strong><br></label><input
								class="form-control" type="email" id="st_prt_em"
								placeholder="sample@sample.com" name="st_prt_em">
						</div>
					</div>

					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="c_idx">
								<strong>학생 수업</strong><br>
							</label>
							<select class="form-control" id="c_idx" name="c_idx">
								<option value="">[수업 선택]</option>
		                        <th:block th:each="class : ${clsList}">
	                                <option th:text="${class.c_nm}" th:value="${class.c_idx}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="mb-3">
							<label class="form-label" for="st_schl">
								<strong>학교/유치원</strong><br>
							</label>
							<input type="text" class="form-control" id="st_schl" name="st_schl">
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="mb-3">
							<label class="form-label" for="st_dtl"><strong>특이사항</strong><br></label>
							<textarea class="form-control" id="st_dtl" rows="4" name="st_dtl"></textarea>
						</div>
						<div class="mb-3"></div>
						<div class="mb-3">
							<!-- <button class="btn btn-primary btn-sm" type="button" onclick="enroll()">저장</button> -->
						</div>
					</div>
			</div>
			<div class="row justify-content-end">
				<div class="col col-sm-3 col-lg-2">
					<button type="button" class="btn btn-primary" style="width: 100%;" onclick="enroll()">원생 등록</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>


</html>