<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Table - Brand</title>
<script>

</script>
<script th:src="@{/js/colorpicker/spectrum.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/js/colorpicker/spectrum.min.css}"/>

<style type="text/css">
.tooltip{
	font-family: 'Jua', sans-serif;
}
</style>
<script>
$(function(){
    $("#colorpicker").spectrum({
        color: "#f00"
    });
    
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    $('#endtime').blur(function(){
        var test = $('#endtime').val();
        var test1 = $('#starttime').val();
        var h2= test1.split(':');
        var h = test.split(':');
        //alert(parseInt(h[0])-parseInt(h2[0]));
    });
	
	// 선택한 학생을 확정란으로 옮기기 
    $('#multiple').mouseup(function(){
		var selectVal = $("#multiple option:selected").val();
		var selectText =  $("#multiple option:selected").text();
		//$("#multiple option:selected").attr("disabled",true);
		//$("#multiple option:selected").css("background-color","darkslategray");
		$("select#multiple option[value="+selectVal+"]").remove();
		var option = $("<option value='"+selectVal+"'>"+selectText+"</option>");
		$("#multiple2").append(option);
    });
	//선택된 학생들 취소 옮기기
    $('#multiple2').mouseup(function(){
		var selectVal = $("#multiple2 option:selected").val();
		var selectText =  $("#multiple2 option:selected").text();
		//$("#multiple option:selected").attr("disabled",true);
		//$("#multiple option:selected").css("background-color","darkslategray");
		$("select#multiple2 option[value="+selectVal+"]").remove();
		var option = $("<option value='"+selectVal+"'>"+selectText+"</option>");
		$("#multiple").append(option);
    });

	function getContextPath() {
		var hostIndex = location.href.indexOf( location.host ) + location.host.length;
		return location.href.substring( hostIndex, location.href.indexOf("/", hostIndex + 1) );
	};
	

	$("#submit").click(function(){
		
		alert("test");
		var len = $("#multiple2").children().length;
		let student = [];
		for(var i =0;i<len ; i++){
			var st_idx = $("#multiple2").children().eq(i).val();
			student.push(st_idx);
		}

		let data = {
			c_nm: $('#c_nm').val(),
			c_color: $('#colorpicker').val(),
			c_cap: $('#c_cap').val(),
			t_idx: $('select#t_idx option:selected').val(),
			c_detail: $('#c_detail').val(),
			c_st_tm: $('#c_st_tm').val(),
			c_ed_tm: $('#c_ed_tm').val(),
			c_wkd: $('select#c_wkd option:selected').val(),
			st_idx: student
		}
		
			
		$.ajax({
			type: "POST", 
			url: getContextPath()+"/class",
			data: JSON.stringify(data),
			contentType:"application/json;charset=utf-8",
			dataType:"json" 
		}).done(function(resp){
			alert("클래스 등록 완료");
			location.href = getContextPath()+"/class/all";
		}).fail(function(error){
			alert("클래스 등록 실패");
		}); 		
	});


});

</script>

</head>

<div class="container-fluid" layout:fragment="content">



	<h3 class="text-dark mb-4">클래스 등록</h3>
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="card shadow mb-3">
						<div class="card-header py-3">
							<p class="text-primary m-0 fw-bold">클래스 상세</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="username"><strong >클래스명</strong></label><input id="c_nm" class="form-control" type="text" placeholder="클래스명" name="c_nm" />
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="first_name"><strong data-bs-toggle="tooltip" data-bs-placement="right" title="클래스 / 캘린더 목록 컬러">클래스 표시 컬러</strong><br/></label><input id="colorpicker" class="form-control"  name="c_color" />
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="first_name"><strong>클래스 허용 인원</strong><br /></label><input id="c_cap" class="form-control" type="number" placeholder="0" name="c_cap" />
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="last_name"><strong>담당 선생님</strong><br /></label> <select class="form-select form-control" id="t_idx" aria-label="Default select example" name="t_idx">
											<th:block th:each="teacher : ${list}">
												<option th:text="${teacher.t_name}" th:value="${teacher.t_idx}">Open this select menu</option>
											</th:block>
										</select>

									</div>

								</div>
							</div>
							<div class="row">
								<div class="mb-3">
									<label class="form-label" for="c_detail"><strong>클래스 설명</strong></label>
									<textarea class="form-control" id="c_detail" rows="4" name="c_detail"></textarea>
								</div>
							</div>
							<div class="mb-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow mb-3">
			<div class="card-header py-3">
				<p class="text-primary m-0 fw-bold">클래스 시간대</p>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<label class="form-label" for="username"><strong>클래스 시작 시간</strong><br /></label><input id="c_st_tm" class="form-control" type="time"  name="c_st_tm" />
						</div>
					</div>
					<div class="col">
						<div class="mb-3">
							<label class="form-label" for="email"><strong>클래스 종료 시간</strong></label><input id="c_ed_tm" class="form-control" type="time"  name="c_ed_tm" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<label class="form-label" for="first_name"><strong>클래스 요일</strong><br /></label>
                            <select class="form-select form-control" id="c_wkd" aria-label="Default select example" name="c_wkd">
                                <option value="2">월요일</option>
                                <option value="3">화요일</option>
                                <option value="4">수요일</option>
                                <option value="5">목요일</option>
                                <option value="6">금요일</option>
                                <option value="7">토요일</option>
                                <option value="1">일요일</option>
                              </select>
						</div>
					</div>
					<div class="col">
					</div>
				</div>
				<div class="mb-3"></div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow mb-3">
			<div class="card-header py-3">
				<p class="text-primary m-0 fw-bold">클래스 원생 등록</p>
			</div>
			<div class="card-body">
				<div class="row" style="padding-bottom: 10px;">
					<div class="col">
						<label class="form-label" for="username"><strong>원생 리스트</strong><br /></label>
						<select class="form-select form-control" id="multiple" multiple aria-label="multiple select example" style="height: 300px;">
							<th:block th:each="student : ${list2}">
								<option th:text="${student.st_nm}+'('+${#strings.toString(student.st_gen) == 'M'?'남':'여'}+') ' + ${student.st_bth} +'살'" th:value="${student.st_idx}">Open this select menu</option>
							</th:block>
						  </select>
					</div>
					<div class="col">
						<label class="form-label" for="username"><strong>등록할 원생</strong><br /></label>
						<select class="form-select form-control" id="multiple2" multiple aria-label="multiple select example" style="height: 300px;">

						  </select>	
					</div>
				</div>
				<br/><br/><br/>
				<div class="row">
					<button type="button" id="submit" class="btn btn-primary">클래스 등록</button>
			</div>
			</div>
			
		</div>
	</div>
</div>

</html>