<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Table - Brand</title>
<script>
	$(function() {
		// function getContextPath() {
		//         var hostIndex = location.href.indexOf( location.host ) + location.host.length;
		//         return location.href.substring( hostIndex, location.href.indexOf("/", hostIndex + 1) );
		//     };
		// $.ajax({
		//         type: "POST", 
		//         url: getContextPath()+"/classes/teacherList",
		//         contentType:"application/json;charset=utf-8",
		//         dataType:"json" 
		//     }).done(function(resp){
		//         if(resp.status == "200"){
		//         }else{
		//             alert("선생님 리스트 불러오기 실패");
		//         }

		//     }).fail(function(error){
		//         alert("로그인 실패 - 서버 오류");
		//     }); 
	});
</script>
<script th:src="@{/js/colorpicker/spectrum.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/js/colorpicker/spectrum.min.css}"/>
<style type="text/css">
.tooltip{
	font-family: 'Jua', sans-serif;
}
</style>
<script>
$(function(){
	alert("Test");
    $("#colorpicker").spectrum({
        color: "#f00"
    });
    
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
});

</script>
</head>

<div class="container-fluid" layout:fragment="content">
	<h3 class="text-dark mb-4">클래스 등록</h3>
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="card shadow mb-3">
						<div class="card-header py-3">
							<p class="text-primary m-0 fw-bold">클래스 상세</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="username"><strong >클래스명</strong></label><input id="username" class="form-control" type="text" placeholder="클래스명" name="" />
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="first_name"><strong data-bs-toggle="tooltip" data-bs-placement="right" title="클래스 / 캘린더 목록 컬러">클래스 표시 컬러</strong><br/></label><input id="colorpicker" class="form-control"  name="first_name" />
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="first_name"><strong>클래스 허용 인원</strong><br /></label><input id="first_name" class="form-control" type="number" placeholder="0" name="first_name" />
									</div>
								</div>
								<div class="col">
									<div class="mb-3">
										<label class="form-label" for="last_name"><strong>담당 선생님</strong><br /></label> <select class="form-select form-control" aria-label="Default select example">
											<th:block th:each="teacher : ${list}">
												<option th:text="${teacher.t_name}" th:value="${teacher.t_idx}">Open this select menu</option>
											</th:block>
										</select>

									</div>

								</div>
							</div>
							<div class="row">
								<div class="mb-3">
									<label class="form-label" for="c_detail"><strong>클래스 설명</strong></label>
									<textarea class="form-control" id="st_dtl" rows="4" name="c_detail"></textarea>
								</div>
							</div>
							<div class="mb-3"></div>
						</div>
					</div>
					<div class="card shadow"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow mb-3">
			<div class="card-header py-3">
				<p class="text-primary m-0 fw-bold">클래스 시간대</p>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<label class="form-label" for="username"><strong>클래스 시작 시간</strong><br /></label><input id="username-1" class="form-control" placeholder="user.name" name="username" />
						</div>
					</div>
					<div class="col">
						<div class="mb-3">
							<label class="form-label" for="email"><strong>클래스 종료 시간</strong></label><input id="email-1" class="form-control" type="email" placeholder="user@example.com" name="email" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6">
						<div class="mb-3">
							<label class="form-label" for="first_name"><strong>클래스 요일</strong><br /></label><input id="first_name-1" class="form-control" type="text" placeholder="John" name="first_name" />
						</div>
					</div>
					<div class="col-xl-6">
						<div class="mb-3">
							<label class="form-label" for="first_name"><strong>클래스 표시 컬러</strong><br /></label><input id="demo-inputq" class="form-control" value="rgb(255, 128, 0)" type="text" placeholder="John" name="first_name" />
						</div>

					</div>
				</div>
				<div class="mb-3"></div>
			</div>
		</div>
		<div class="card shadow"></div>
	</div>
	<div class="col">
		<div class="card shadow mb-3">
			<div class="card-header py-3">
				<p class="text-primary m-0 fw-bold">클래스 원생 등록</p>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<button class="btn btn-primary" type="button" style="width: 100%; border-radius: 30px;">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body" style="padding-bottom: 40px; padding-top: 20px; margin-bottom: -2px; height: 100px;">
								<h4 class="card-title">이영헌</h4>
								<h5 class="card-title">이영헌</h5>
							</div>
						</div>
					</div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
				<form>
					<div class="mb-3"></div>
				</form>
			</div>
		</div>
		<div class="card shadow"></div>
	</div>
</div>

</html>