<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/colorpicker/spectrum.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/js/colorpicker/spectrum.min.css}"/>
<link th:href='@{/fullcalendar/lib/main.css}' rel='stylesheet' />
<script th:src='@{/fullcalendar/lib/main.js}'></script>

<style>
@media (max-width: 575.98px) {
	#calendar{
		height: 800px;
	}
	#calendar_week{
		height: 800px;
	}
	.fc-header-toolbar{
		display: block !important;
	}
	.fc table{
		font-size: 0.9em;
	}
 }
label{
	padding-top: 5px;
}
</style>
<script>
	$(function(){
		
		 //colorpicker 라이브러리 초기화
		$("#colorpicker").spectrum({
        	color: "#d9d2e9"
    	});
		let data = {};
		let today = new Date();   

		let year = today.getFullYear(); // 년도
		let month = today.getMonth() + 1;  // 월
		let date = today.getDate();  // 날짜
		let day = today.getDay();  // 요일
		alert(year +" : "+ month+" : "+date);
		// $.ajax({
		// 	type: "GET",
		// 	url: getContextPath() + "/schedule,
		// 	contentType: "application/json;charset=utf-8",
		// 	dataType: "json"
		// }).done(function (resp) {
		// 	alert("일정 정보 로드 완료");
		// }).fail(function (error) {
		// 	alert("일정 정보 로드 실패");
		// });   

		function calendar_init(date_type){
			let draggableEl = document.getElementById('mydraggable');
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView : date_type,
				locale: 'ko', // 한국어 설정
				customButtons: {
					myCustomButton: {
					text: '일정등록',
					click: function() {
						$('#register-schedule').modal('show');
					}
					}
				},
				headerToolbar: {
					right: 'prev,next today myCustomButton',
					left: 'title',
					center: 'dayGridMonth,timeGridWeek,timeGridDay'
				},
				dayMaxEvents: true, // 일정개수 이상의 이벤트시 팝오버 생김
				selectable: true, 
				editable: true,
				droppable: true,  // 드래그 가능
				expandRows: true, 
				drop: function(arg) {
				
					alert("hi")
				},
				eventClick: function(info) { //이벤트 클릭시 이벤트 정보 출력 이벤트
			        var eventObj = info.event;		
			        alert('Clicked ' + eventObj.start + eventObj.end + eventObj.title + eventObj.id);
			        $('#myModal').modal('show'); 
			 	},
				eventChange: function(obj){ // 드래그 수정시 발생 이벤트
					alert(obj.event.title);
					alert(obj.event.start);
					
				},
			 	select: function(arg) { // 칸 클릭시 발생하는 추가 이벤트
					var title = prompt('Event Title:');
					console.log("hi");
					if (title) {
						calendar.addEvent({
							title: title,
							start: arg.start,
							end: arg.end,
							allDay: arg.allDay
						});
						calendar.unselect();
				}
			},
				 events: [
					    {
						  id : '10',
					      title  : 'event1',
					      start  : '2022-07-01',
						  color	 : '#141FF7' // 컬러 코드로도 저장 가능
					    },
					    {
					      title  : 'event2',
					      start  : '2022-07-09T12:30:00',
					      end	 : '2022-07-19T15:30:00',
						  color	 : 'purple'
					 
					    },
					    {
					      title  : 'event3',
					      start  : '2022-07-29T12:30:00',
					      allDay : true // 하루 종일 여부
					    },
						{
							groupId: 'blueEvents', // 동일하게 움직이게 설정(구간 반복)
							title  : '반복이벤트 설정',
							daysOfWeek: [ '3' ], // these recurrent events move separately
							startRecur  : '2022-08-09',
					      	endRecur : '2022-08-29',
							startTime: '09:00:00',
      						endTime: '11:30:00',
							color: 'red',
							//allDay : false // 하루 종일 여부
						}
					  ]
				
			});
			calendar.render();
		}
		//페이지 로딩시 월간일정 init
		calendar_init('dayGridMonth');



		
	});

</script>
</head>

<body>
	<div class="container-fluid" layout:fragment="content">
	<h3 class="text-dark mb-4">스케줄 관리</h3>
		<div id='calendar'>
			<div class="fc-toolbar-chunk"></div>
		</div>
<div class="modal" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
   <!-- 모달창(클래스 상세) -->
   <div class="modal" id="register-schedule" tabindex="-1">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">일정 등록</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <div class="row">
				<div class="col-sm-12 col-lg-12">
					<label class="form-label" for="first_name"><strong>클래스 선택</strong><br /></label>
					<select class="form-select form-control" id="c_wkd" aria-label="Default select example" name="c_wkd">
						<option value="2">선택 안함</option>
						<option value="2">월요일</option>
						<option value="3">화요일</option>
						<option value="4">수요일</option>
						<option value="5">목요일</option>
						<option value="6">금요일</option>
						<option value="7">토요일</option>
						<option value="1">일요일</option>
					  </select>
				</div>
				<div class="col-6 col-sm-6 col-lg-6">
					<label class="form-label" for="username"><strong >일정 제목</strong></label><input id="c_nm" class="form-control" type="text" placeholder="클래스명" name="c_nm" />
				</div>
				<div class="col-6 col-sm-6 col-lg-6">
					<label class="form-label" for="first_name"><strong>클래스 표시 컬러</strong><br/></label>
					<input id="first_name" class="form-control"  name="c_color" />
				</div>
				<div class="col-6 col-sm-6 col-lg-6">
					<label class="form-label" for="first_name"><strong>담당 선생님</strong><br /></label>
					<select class="form-select form-control" id="c_wkd" aria-label="Default select example" name="c_wkd">
						<option value="2">선택 안함</option>
						<option value="2">월요일</option>
						<option value="3">화요일</option>
						<option value="4">수요일</option>
						<option value="5">목요일</option>
						<option value="6">금요일</option>
						<option value="7">토요일</option>
						<option value="1">일요일</option>
					  </select>
				</div>
				<div class="col-6 col-sm-6 col-lg-6">
					<label class="form-label" for="username"><strong >종일 일정 여부</strong></label>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
						<label class="form-check-label" for="flexSwitchCheckDefault">종일 일정X</label>
					  </div>
				</div>
				<div class="col col-sm-12 col-lg-12">
					<label class="form-label" for="username"><strong >일정 요일</strong></label><br>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
						<label class="form-check-label" for="inlineCheckbox1">월</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
						<label class="form-check-label" for="inlineCheckbox2">화</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
						<label class="form-check-label" for="inlineCheckbox2">화</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
						<label class="form-check-label" for="inlineCheckbox2">화</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
						<label class="form-check-label" for="inlineCheckbox2">화</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
						<label class="form-check-label" for="inlineCheckbox2">화</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
						<label class="form-check-label" for="inlineCheckbox2">화</label>
					  </div>
				</div>
				<div class="col-sm-6 col-lg-6">
					<label class="form-label" for="email"><strong>클래스 종료 시간</strong></label><input id="c_ed_tm" class="form-control" type="date"  name="c_ed_tm" />
				</div>
				<div class="col-sm-6 col-lg-6">
					<label class="form-label" for="email"><strong>클래스 종료 시간</strong></label><input id="c_ed_tm" class="form-control" type="date"  name="c_ed_tm" />
				</div>
				<div class="col-sm-6 col-lg-6">
					<label class="form-label" for="email"><strong>클래스 종료 시간</strong></label><input id="c_ed_tm" class="form-control" type="time"  name="c_ed_tm" />
				</div>
				<div class="col-sm-6 col-lg-6">
					<label class="form-label" for="email"><strong>클래스 종료 시간</strong></label><input id="c_ed_tm" class="form-control" type="time"  name="c_ed_tm" />
				</div>
				<div class="col-sm-12 col-lg-12">
					<h5>수강중인 원생</h5>
					<div class="row" id="c-student"></div>
				</div>
			</div>

		</div>
		

		<div class="modal-footer">
		  <button type="button" class="btn btn-primary" id="class-update">클래스 수정</button>
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		</div>
	</div>
</div>
</div>

	</div><!-- end -->
	

</html>