<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href='@{/fullcalendar/lib/main.css}' rel='stylesheet' />
<script th:src='@{/fullcalendar/lib/main.js}'></script>
<style>
@media (max-width: 575.98px) {
	#calendar{
		height: 800px;
	}
	#calendar_week{
		height: 800px;
	}
	.fc-header-toolbar{
		display: block !important;
	}
	.fc table{
		font-size: 0.9em;
	}
 }

</style>
<script>
	$(function(){
		function calendar_init(date_type){
			let draggableEl = document.getElementById('mydraggable');
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView : date_type,
				locale: 'ko', // 한국어 설정
				customButtons: {
					myCustomButton: {
					text: '일정등록',
					click: function() {
						alert('clicked the custom button!');
					}
					}
				},
				headerToolbar: {
					right: 'prev,next today myCustomButton',
					left: 'title',
					center: 'dayGridMonth,timeGridWeek,timeGridDay'
				},
				dayMaxEvents: true, // 일정개수 이상의 이벤트시 팝오버 생김
				selectable: true, 
				editable: true,
				droppable: true,  // 드래그 가능
				drop: function(arg) {
				
					alert("hi")
				},
				eventClick: function(info) { //이벤트 클릭시 이벤트 정보 출력 이벤트
			        var eventObj = info.event;		
			          //alert('Clicked ' + eventObj.start + eventObj.end + eventObj.title);
			        $('#myModal').modal('show'); 
			 	},
				eventChange: function(obj){ // 드래그 수정시 발생 이벤트
					alert(obj.event.title);
					alert(obj.event.start);
					
				},
			 	select: function(arg) { // 칸 클릭시 발생하는 추가 이벤트
					var title = prompt('Event Title:');
					console.log("hi");
					if (title) {
						calendar.addEvent({
							title: title,
							start: arg.start,
							end: arg.end,
							allDay: arg.allDay
						});
						calendar.unselect();
				}
			},
				 events: [
					    {
					      title  : 'event1',
					      start  : '2022-07-01',
						  color	 : '#141FF7' // 컬러 코드로도 저장 가능
					    },
					    {
					      title  : 'event2',
					      start  : '2022-07-09T12:30:00',
					      end	 : '2022-07-19T15:30:00',
						  color	 : 'purple'
					 
					    },
					    {
					      title  : 'event3',
					      start  : '2022-07-29T12:30:00',
					      allDay : true // 하루 종일 여부
					    }
					  ]
				
			});
			calendar.render();
		}
		//페이지 로딩시 월간일정 init
		calendar_init('dayGridMonth');



		
	});

</script>
</head>

<body>
	<div class="container-fluid" layout:fragment="content">
	<h3 class="text-dark mb-4">스케줄 관리</h3>
		<div id='calendar'>
			<div class="fc-toolbar-chunk"></div>
		</div>
<div class="modal" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

	</div>
	
	

</html>